<a href="https://colab.research.google.com/github/snehithsambaraju/AI-Based-Cyber-Security-Threats-Predication/blob/main/pythontaskipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded=files.upload()

Saving Titanic-Dataset.csv to Titanic-Dataset.csv

In [2]:
import pandas as pd

# Assuming the uploaded file is 'Titanic-Dataset.csv'
df = pd.read_csv('Titanic-Dataset.csv')
df.head()  # To display the first 5 rows and check

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Display the first 5 rows of the dataset

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Show the summary statistics of numeric columns

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

 Count total passengers

In [5]:
len(df)

891

Count passengers grouped by gender

In [6]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

5. Show number of survivors and non-survivors

In [7]:
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

6. Calculate average age of passengers

In [8]:
df['Age'].mean()

np.float64(29.69911764705882)

. Calculate average fare paid by passengers by class

In [9]:
df.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

8. Find the youngest passenger's age

In [10]:
df['Age'].min()

0.42

9. Find the oldest passenger's age

In [11]:
df['Age'].max()

80.0

10. Count how many passengers embarked from each port

In [12]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

11. Average number of siblings/spouses aboard

In [13]:
df['SibSp'].mean()

np.float64(0.5230078563411896)

12. Average number of parents/children aboard

In [14]:
df['Parch'].mean()

np.float64(0.38159371492704824)

13. Create a pivot table of survival rate by gender

In [15]:
df.pivot_table(index='Sex', values='Survived', aggfunc='mean')

        Survived
Sex
female  0.742038
male    0.188908

14. Count number of passengers by class and survival status

In [16]:
df.groupby(['Pclass', 'Survived']).size()

Pclass  Survived
1       0            80
        1           136
2       0            97
        1            87
3       0           372
        1           119
dtype: int64

15. Find the passenger with maximum fare paid

In [17]:
df.loc[df['Fare'].idxmax()]

PassengerId                 259
Survived                      1
Pclass                        1
Name           Ward, Miss. Anna
Sex                      female
Age                        35.0
SibSp                         0
Parch                         0
Ticket                 PC 17755
Fare                   512.3292
Cabin                       NaN
Embarked                      C
Name: 258, dtype: object

16. Find the correlation between age and fare

In [18]:
df[['Age', 'Fare']].corr()

           Age      Fare
Age   1.000000  0.096067
Fare  0.096067  1.000000

17. Number of passengers with missing age information

In [19]:
df['Age'].isnull().sum()

np.int64(177)

18. Count number of passengers by survival and gender

In [21]:
df.groupby(['Survived', 'Sex']).size()

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
dtype: int64

19.Average fare paid by survivors vs non-survivors

In [22]:
df.groupby('Survived')['Fare'].mean()

Survived
0    22.117887
1    48.395408
Name: Fare, dtype: float64

20 Calculate survival rate by gender

In [23]:
df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64