<a href="https://colab.research.google.com/github/snehithsambaraju/AI-Based-Cyber-Security-Threats-Predication/blob/main/SQLTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded=files.upload()

Saving Titanic-Dataset.csv to Titanic-Dataset.csv

In [2]:
import pandas as pd

# Assuming the uploaded file is 'Titanic-Dataset.csv'
df = pd.read_csv('Titanic-Dataset.csv')

In [4]:
from google.colab import files
uploaded = files.upload()  # Upload 'Titanic-Dataset.csv'

import pandas as pd
import sqlite3

# Load CSV
df = pd.read_csv('Titanic-Dataset.csv')

# Connect SQLite and create table
conn = sqlite3.connect('titanic.db')
df.to_sql('titanic', conn, index=False, if_exists='replace')

Saving Titanic-Dataset.csv to Titanic-Dataset (1).csv

891

In [6]:
!pip install pandasql

import pandas as pd
from pandasql import sqldf

df = pd.read_csv('Titanic-Dataset.csv')

pysqldf = lambda q: sqldf(q, globals())

# SQL query
query = "SELECT * FROM df LIMIT 5;"

result = pysqldf(query)
print(result)

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.43)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (4.14.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26773 sha256=d5a4de243c1852cf36729bbddd0e3f9f7f6262ba58c4d272f9a6c41557688c17
  Stored in directory: /root/.cache/pip/wheels/15/a1/e7/6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500  None        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250  None        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  None        S


Count the total number of passengers

In [8]:
query = "SELECT COUNT(*) AS total_passengers FROM df;"
result = pysqldf(query)
print(result)

   total_passengers
0               891

Count how many survived and how many did not survive (group by Survived)

In [10]:
query = "SELECT Survived, COUNT(*) AS count FROM df GROUP BY Survived;"
result = pysqldf(query)
print(result)

   Survived  count
0         0    549
1         1    342

Calculate the average age of passengers

In [12]:
query = "SELECT AVG(Age) AS average_age FROM df;"
result = pysqldf(query)
print(result)

   average_age
0    29.699118

Find passengers with missing age values

In [14]:
query = "SELECT * FROM df WHERE Age IS NULL;"
result = pysqldf(query)
print(result)

     PassengerId  Survived  Pclass                                      Name  \
0              6         0       3                          Moran, Mr. James
1             18         1       2              Williams, Mr. Charles Eugene
2             20         1       3                   Masselmani, Mrs. Fatima
3             27         0       3                   Emir, Mr. Farred Chehab
4             29         1       3             O'Dwyer, Miss. Ellen "Nellie"
..           ...       ...     ...                                       ...
172          860         0       3                          Razi, Mr. Raihed
173          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
174          869         0       3               van Melkebeke, Mr. Philemon
175          879         0       3                        Laleff, Mr. Kristo
176          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0      male  None      0      0      330877   8.4583  None        Q
1      male  None      0      0      244373  13.0000  None        S
2    female  None      0      0        2649   7.2250  None        C
3      male  None      0      0        2631   7.2250  None        C
4    female  None      0      0      330959   7.8792  None        Q
..      ...   ...    ...    ...         ...      ...   ...      ...
172    male  None      0      0        2629   7.2292  None        C
173  female  None      8      2    CA. 2343  69.5500  None        S
174    male  None      0      0      345777   9.5000  None        S
175    male  None      0      0      349217   7.8958  None        S
176  female  None      1      2  W./C. 6607  23.4500  None        S

[177 rows x 12 columns]

 6 Count passengers by gender

In [16]:
query = "SELECT Sex, COUNT(*) AS count FROM df GROUP BY Sex;"
result = pysqldf(query)
print(result)

      Sex  count
0  female    314
1    male    577

 7 Calculate the survival rate by gender

In [18]:
query = "SELECT Sex, AVG(Survived) AS survival_rate FROM df GROUP BY Sex;"
result = pysqldf(query)
print(result)

      Sex  survival_rate
0  female       0.742038
1    male       0.188908

  8 Find the passengers with the highest fare

In [20]:
query = "SELECT * FROM df ORDER BY Fare DESC LIMIT 5;"
result = pysqldf(query)
print(result)

   PassengerId  Survived  Pclass                                Name     Sex  \
0          259         1       1                    Ward, Miss. Anna  female
1          680         1       1  Cardeza, Mr. Thomas Drake Martinez    male
2          738         1       1              Lesurer, Mr. Gustave J    male
3           28         0       1      Fortune, Mr. Charles Alexander    male
4           89         1       1          Fortune, Miss. Mabel Helen  female

    Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
0  35.0      0      0  PC 17755  512.3292         None        C
1  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
2  35.0      0      0  PC 17755  512.3292         B101        C
3  19.0      3      2     19950  263.0000  C23 C25 C27        S
4  23.0      3      2     19950  263.0000  C23 C25 C27        S

   9 Count passengers by passenger class (Pclass)

In [22]:
query = "SELECT Pclass, COUNT(*) AS count FROM df GROUP BY Pclass;"
result = pysqldf(query)
print(result)

   Pclass  count
0       1    216
1       2    184
2       3    491

10 Calculate average fare by passenger class

In [24]:
query = "SELECT Pclass, AVG(Fare) AS avg_fare FROM df GROUP BY Pclass;"
result = pysqldf(query)
print(result)

   Pclass   avg_fare
0       1  84.154687
1       2  20.662183
2       3  13.675550

11 Count how many siblings/spouses aboard each passenger had (SibSp)

In [26]:
query = "SELECT SibSp, COUNT(*) AS count FROM df GROUP BY SibSp ORDER BY SibSp;"
result = pysqldf(query)
print(result)

   SibSp  count
0      0    608
1      1    209
2      2     28
3      3     16
4      4     18
5      5      5
6      8      7

12 Count how many parents/children aboard each passenger had (Parch)

In [28]:
query = "SELECT Parch, COUNT(*) AS count FROM df GROUP BY Parch ORDER BY Parch;"
result = pysqldf(query)
print(result)

   Parch  count
0      0    678
1      1    118
2      2     80
3      3      5
4      4      4
5      5      5
6      6      1

13 Find passengers who embarked from Southampton (Embarked = 'S')

In [30]:
query = "SELECT * FROM df WHERE Embarked = 'S' LIMIT 10;"
result = pysqldf(query)
print(result)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            3         1       3
2            4         1       1
3            5         0       3
4            7         0       1
5            8         0       3
6            9         1       3
7           11         1       3
8           12         1       1
9           13         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1                             Heikkinen, Miss. Laina  female  26.0      0
2       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
3                           Allen, Mr. William Henry    male  35.0      0
4                            McCarthy, Mr. Timothy J    male  54.0      0
5                     Palsson, Master. Gosta Leonard    male   2.0      3
6  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
7                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
8                           Bonnell, Miss. Elizabeth  female  58.0      0
9                     Saundercock, Mr. William Henry    male  20.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500  None        S
1      0  STON/O2. 3101282   7.9250  None        S
2      0            113803  53.1000  C123        S
3      0            373450   8.0500  None        S
4      0             17463  51.8625   E46        S
5      1            349909  21.0750  None        S
6      2            347742  11.1333  None        S
7      1           PP 9549  16.7000    G6        S
8      0            113783  26.5500  C103        S
9      0         A/5. 2151   8.0500  None        S

14 Calculate survival rate by embarkation port

In [32]:
query = "SELECT Embarked, AVG(Survived) AS survival_rate FROM df GROUP BY Embarked;"
result = pysqldf(query)
print(result)

  Embarked  survival_rate
0     None       1.000000
1        C       0.553571
2        Q       0.389610
3        S       0.336957

 15 Find passengers under 18 years old

In [34]:
query = "SELECT * FROM df WHERE Age < 18 LIMIT 10;"
result = pysqldf(query)
print(result)

   PassengerId  Survived  Pclass                                      Name  \
0            8         0       3            Palsson, Master. Gosta Leonard
1           10         1       2       Nasser, Mrs. Nicholas (Adele Achem)
2           11         1       3           Sandstrom, Miss. Marguerite Rut
3           15         0       3      Vestrom, Miss. Hulda Amanda Adolfina
4           17         0       3                      Rice, Master. Eugene
5           23         1       3               McGowan, Miss. Anna "Annie"
6           25         0       3             Palsson, Miss. Torborg Danira
7           40         1       3               Nicola-Yarred, Miss. Jamila
8           44         1       2  Laroche, Miss. Simonne Marie Anne Andree
9           51         0       3                Panula, Master. Juha Niilo

      Sex   Age  SibSp  Parch         Ticket     Fare Cabin Embarked
0    male   2.0      3      1         349909  21.0750  None        S
1  female  14.0      1      0         237736  30.0708  None        C
2  female   4.0      1      1        PP 9549  16.7000    G6        S
3  female  14.0      0      0         350406   7.8542  None        S
4    male   2.0      4      1         382652  29.1250  None        Q
5  female  15.0      0      0         330923   8.0292  None        Q
6  female   8.0      3      1         349909  21.0750  None        S
7  female  14.0      1      0           2651  11.2417  None        C
8  female   3.0      1      2  SC/Paris 2123  41.5792  None        C
9    male   7.0      4      1        3101295  39.6875  None        S

16 Get count of survivors and non-survivors by passenger class

In [36]:
query = "SELECT Pclass, Survived, COUNT(*) AS count FROM df GROUP BY Pclass, Survived ORDER BY Pclass, Survived;"
result = pysqldf(query)
print(result)

   Pclass  Survived  count
0       1         0     80
1       1         1    136
2       2         0     97
3       2         1     87
4       3         0    372
5       3         1    119

17 Calculate average age of survivors vs non-survivors

In [38]:
query = "SELECT Survived, AVG(Age) AS avg_age FROM df GROUP BY Survived;"
result = pysqldf(query)
print(result)

   Survived    avg_age
0         0  30.626179
1         1  28.343690

18 Find passengers with fare greater than 100

In [41]:
query = "SELECT * FROM df WHERE Fare > 100 LIMIT 10;"
result = pysqldf(query)
print(result)

   PassengerId  Survived  Pclass  \
0           28         0       1
1           32         1       1
2           89         1       1
3          119         0       1
4          196         1       1
5          216         1       1
6          259         1       1
7          269         1       1
8          270         1       1
9          298         0       1

                                             Name     Sex   Age  SibSp  Parch  \
0                  Fortune, Mr. Charles Alexander    male  19.0      3      2
1  Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1      0
2                      Fortune, Miss. Mabel Helen  female  23.0      3      2
3                        Baxter, Mr. Quigg Edmond    male  24.0      0      1
4                            Lurette, Miss. Elise  female  58.0      0      0
5                         Newell, Miss. Madeleine  female  31.0      1      0
6                                Ward, Miss. Anna  female  35.0      0      0
7   Graham, Mrs. William Thompson (Edith Junkins)  female  58.0      0      1
8                          Bissette, Miss. Amelia  female  35.0      0      0
9                    Allison, Miss. Helen Loraine  female   2.0      1      2

     Ticket      Fare        Cabin Embarked
0     19950  263.0000  C23 C25 C27        S
1  PC 17569  146.5208          B78        C
2     19950  263.0000  C23 C25 C27        S
3  PC 17558  247.5208      B58 B60        C
4  PC 17569  146.5208          B80        C
5     35273  113.2750          D36        C
6  PC 17755  512.3292         None        C
7  PC 17582  153.4625         C125        S
8  PC 17760  135.6333          C99        S
9    113781  151.5500      C22 C26        S

19 List passengers with more than 2 siblings/spouses

In [43]:
query = "SELECT * FROM df WHERE SibSp > 2 LIMIT 10;"
result = pysqldf(query)
print(result)

   PassengerId  Survived  Pclass  \
0            8         0       3
1           17         0       3
2           25         0       3
3           28         0       1
4           51         0       3
5           60         0       3
6           64         0       3
7           69         1       3
8           72         0       3
9           86         1       3

                                                Name     Sex   Age  SibSp  \
0                     Palsson, Master. Gosta Leonard    male   2.0      3
1                               Rice, Master. Eugene    male   2.0      4
2                      Palsson, Miss. Torborg Danira  female   8.0      3
3                     Fortune, Mr. Charles Alexander    male  19.0      3
4                         Panula, Master. Juha Niilo    male   7.0      4
5                 Goodwin, Master. William Frederick    male  11.0      5
6                              Skoog, Master. Harald    male   4.0      3
7                    Andersson, Miss. Erna Alexandra  female  17.0      4
8                         Goodwin, Miss. Lillian Amy  female  16.0      5
9  Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  female  33.0      3

   Parch   Ticket      Fare        Cabin Embarked
0      1   349909   21.0750         None        S
1      1   382652   29.1250         None        Q
2      1   349909   21.0750         None        S
3      2    19950  263.0000  C23 C25 C27        S
4      1  3101295   39.6875         None        S
5      2  CA 2144   46.9000         None        S
6      2   347088   27.9000         None        S
7      2  3101281    7.9250         None        S
8      2  CA 2144   46.9000         None        S
9      0  3101278   15.8500         None        S

 20 Get the number of passengers by gender and passenger class

In [45]:
query = "SELECT Sex, Pclass, COUNT(*) AS count FROM df GROUP BY Sex, Pclass ORDER BY Sex, Pclass;"
result = pysqldf(query)
print(result)

      Sex  Pclass  count
0  female       1     94
1  female       2     76
2  female       3    144
3    male       1    122
4    male       2    108
5    male       3    347